<div class="modal hide" style="width: 95%; margin: -50px 0 0 -650px;">
  <div class="modal-header" style="max-height: 3em;">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h5>{{ bareName }}</h5>
  </div>
  <div class="modal-body" style="text-align: center; min-height: 33.5em;">
      <img id="page-show" width="70%" height="70%" src="page?page={{ currentPage }}&at={{ path }}" class="img-polaroid" />
  </div>
  <div class="modal-footer" style="padding: 10px; max-height: 4em; overflow: auto;">
      <!--<a href="#" class="btn btn-cancel">Cancel</a>
      <a href="#" class="btn btn-primary btn-save">Save</a>-->
      <div class="row">
        <div class="pagination" style="font-size: smaller;">
          <ul>
              <li><a href="#">First</a></li>
              <li><a href="#">Prev</a></li>
              <li><a href="#">Next</a></li>
              <li><a href="#">Last</a></li>
              <span class="divider">&nbsp;&nbsp;</span>
              <li><a href="#">+</a></li>
              <li><a href="#">-</a></li>
              <span class="divider">&nbsp;&nbsp;</span>
              {{#each pageNumbers}}
                <li data-number="{{this.real}}"><a href="#">{{this.shown}}</a></li>
              {{/each}}
          </ul>
        </div>
    </div>
  </div>
</div>